<div class="content">
    <div class="banner">
        <div class="vertical">
            <h1 class="title">THE MOON</h1>
        </div>
    </div>
    <div>
        <div>
            <h1>MrBeast - Lunar Capsule</h1>
            <p>
                
            </p>
        </div>
        <div>
            <div>
                <h2>Pictures</h2>
                <ul>
                    
                </ul>
            </div>
            <div>
                <h2>Videos</h2>
                <ul>
                    
                </ul>
            </div>
        </div>
    </div>
</div>